.index-hero {
    padding-top: 91px;
    padding-bottom: 84px;

    &__content {
      @include flex-center(48px);

      h1 {
        max-width: 548px;
        font-weight: 800;
        font-size: 36px;
        line-height: 100%;
        letter-spacing: 0em;
        text-align: right;
        color: #3e506d;
      }

      &-list {

        &__item {
          position: relative;
          padding-left: 15px;

          & p {
            position: relative;
            font-weight: 800;
            font-size: 16px;
            line-height: 177%;
            letter-spacing: 0.01em;
            color: #3e506d;

            &::after {
              content: '';
              position: absolute;
              top: 11px;
              left: -14px;
              width: 6px;
              height: 6px;
              border-radius: 100px;
              background-color: #3e506d;
            }
          }

        }
      }
    }
}

.index-trainer {
  padding-bottom: 102px;

  & h2 {
    padding-right: 12px;
    margin-bottom: 10px;
    color: #5b829c;
  }

  &__content {
    margin-bottom: 42px;

    &-left {
      padding-right: 0;

      & h3 {
        font-weight: 900;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0.01em;
        text-align: center;
        color: #5b829c;
      }

      &__top {
        padding: 24px 5px 32px 5px;
        border-radius: 10px 10px 0 0;
        border-top: 4px solid #c4e1eb;
        border-left: 4px solid #c4e1eb;
        border-right: 4px solid #c4e1eb;
        background-color: #e9f6ff
      }

      &__info {
        position: relative;
        padding: 43px 10px 30px 10px;
        margin-top: -10px;
        border-radius: 10px;
        border: 4px solid #c4e1eb;
        background-color: #f2fcff;

        & h4 {
          font-weight: 100;
          font-size: 32px;
          line-height: 94%;
          letter-spacing: 0em;
          color: #5b829c;

          & span {
            font-family: var(--second-family);
            font-weight: 900;
            font-size: 64px;
          }
        }

        & p {
          font-weight: 300;
          font-size: 15px;
          line-height: 147%;
          color: #5b829c;
        }

        &-block {

          &:nth-child(1) {
            margin-bottom: 50px;
          }
        }
      }

      &__bottom {
        padding: 43px 30px 21px 29px;
        margin-top: -10px;
        border-radius: 0 0 10px 10px;
        border-bottom: 4px solid #c4e1eb;
        border-left: 4px solid #c4e1eb;
        border-right: 4px solid #c4e1eb;
        background-color: #e9f6ff;

        & h3 {
          margin-bottom: 16px;
        }

        &-list {
          display: flex;
          justify-content: space-between;

          &__item {

            &.time {
              display: none;
            }

            & .icon {
              display: none;
            }

            & p {
              font-weight: 100;
              font-size: 64px;
              line-height: 50%;
              letter-spacing: 0.01em;
              text-align: center;
              color: #5b829c;

              & span {
                font-weight: 300;
                font-size: 16px;
              }
            }
          }

        }
      }
    }

    &-right {
      padding-left: 8px;

      &__block {

        &-img {
          overflow: hidden;
          border-radius: 10px;

          & img {
            width: 100%;
          }
        }

        &-info {
          margin-top: -10px;
          padding: 18px 17px 14px 13px;
          border: 4px solid #3f6e8c;
          border-radius: 0 0 10px 10px;
          background-color: #5b829c;

          & h3 {
            margin-bottom: 28px;
            font-weight: 700;
            font-size: 24px;
            line-height: 83%;
            letter-spacing: 0em;
            text-align: center;
            color: #fff;
          }

          &__btns {
            @include grid-ColumnsEqually(3, 11px);

            &-btn {
              display: flex;
              justify-content: space-between;
              padding: 4px 1px;
              border-radius: 20px 10px 10px 20px;
              width: 100%;
              box-shadow: -2px 6px 10px 0 rgba(0, 0, 0, 0.15);
              border: 1px solid #abddfe;
              background-color: var(--white);
              color: #5d6c82;

              & span {
                min-width: 70px;
                border-radius: 20px;
                overflow: hidden;
              }

              & p {
                width: 100%;
              }

              &:hover {
                border: 1px solid #abddfe;
                box-shadow: -2px 6px 10px 0 rgba(0, 0, 0, 0.15);
                background-color: #75a9f9;
                color: var(--white);
              }

              &:nth-child(3) {

                &:active {
                  box-shadow: inset -2px 6px 10px 0 rgba(0, 0, 0, 0.15);
                  background-color: #33c966;
                  color: var(--white);
                }
              }

              &:nth-child(2) {

                &:active {
                  box-shadow: inset -2px 6px 10px 0 rgba(0, 0, 0, 0.15);
                  background-color: #ee5e78;
                  color: var(--white);
                }
              }

              &:nth-child(1),
              &:nth-child(4),
              &:nth-child(5),
              &:nth-child(6){

                &:active {
                  box-shadow: inset -2px 6px 10px 0 rgba(0, 0, 0, 0.15);
                  background-color: #466eab;
                  color: var(--white);
                }
              }
            }
          }
        }
      }
    }
  }

  &__btns {
    @include flex-center(10px);

    &-btn {
      justify-content: space-between;
      width: 316px;
      font-size: 16px;
      padding: 15px;
      border-radius: 10px;
      color: #5b829c;
      border: 1px solid #abddfe;
      box-shadow: -2px 6px 10px 0 rgba(0, 0, 0, 0.15);
      background-color: var(--white);

      & svg {
        fill: #CBE2F1;
        @include transitionEaseInOut;
      }

      &:hover {
        color: var(--white);
        border: 1px solid #abddfe;
        box-shadow: -2px 6px 10px 0 rgba(0, 0, 0, 0.15);
        background-color: #75a9f9;

        & svg {
          fill: var(--white);
        }
      }

      &:active {
        border: 1px solid #abddfe;
        color: var(--white);
        box-shadow: inset -2px 6px 10px 0 rgba(0, 0, 0, 0.15);
        background-color: #466eab;

        & svg {
          fill: var(--white);
        }
      }
    }
  }
}

.index-third {
  padding: 73px 0 106px 0;
  background: linear-gradient(96.33deg, rgba(38, 173, 67, 0.73) 5.98%, #10AB99 93.36%), radial-gradient(91% 168.23% at 36.49% 65.13%, rgba(163, 255, 229, 0.6) 0%, rgba(89, 170, 199, 0.144) 100%);

  & h2 {
    margin-bottom: 67px;
  }

  &__content {

    &-blocks {

      &__block {
        max-width: 657px;
        border-radius: 10px;
        border: 1px solid #5b829c;
        background-color: var(--white);

        &-info {

          & .number {
            @include flex-center;
            top: 50%;
            left: -35px;
            transform: translateY(-50%);
            width: 71px;
            height: 71px;
            border-radius: 100px;
            border: 3px solid #fff;
            background-color: #00AAAA;

            & p {
              font-family: var(--second-family);
              font-weight: 500;
              font-size: 40px;
              line-height: 50%;
              letter-spacing: 0em;
              text-align: center;
              color: #fff;
            }
          }

          & p {
            font-weight: 500;
            font-size: 18px;
            line-height: 144%;
            text-align: justify;
            color: #3e506d;
          }

          &__list {

            &-item {
              position: relative;
              &::after {
                content: '';
                position: absolute;
                width: 5px;
                height: 5px;
                top: 10px;
                left: -5px;
                border-radius: 100px;
                background-color:  #3e506d;
              }
            }
          }
        }

      }

      &:nth-child(1) {
        padding-left: 47px;
        margin-bottom: 20px;

        & .index-third__content-blocks__block {
          padding: 43px 10px 42px 80px;

          &-info {

            &__list {
              padding-left: 43px;

              &-item {
                padding-left: 11px;
              }
            }
          }
        }
      }

      &:nth-child(2) {
        padding-right: 47px;
        margin-bottom: 20px;

        & .index-third__content-blocks__block {
          padding: 43px 112px 43px 44px;

          & .number {
            left: inherit;
            right: -35px;
          }

          & p {
            max-width: 552px;
          }

        }
      }

      &:nth-child(3) {
        padding-left: 47px;

        & .index-third__content-blocks__block {

          &-info {
            padding: 42px 0 41px 0;

            & p {
              max-width: 483px;
            }
          }
        }
      }
    }

  }
}

.index-fourth {
  padding: 73px 0 80px 0;
  background: linear-gradient(96.33deg, #FFC700 5.98%, #FF9900 93.36%), radial-gradient(163.32% 84.44% at 62.81% 84.44%, rgba(250, 255, 0, 0.462) 0%, rgba(255, 230, 0, 0) 100%);


  & h2 {
    margin-bottom: 74px;
  }

  &__content {

    &-blocks {

      &__block {
        display: flex;
        align-items: center;
        border-radius: 10px;
        border: 1px solid #5b829c;
        background-color: #fff;

        & p {
          font-weight: 600;
          font-size: 16px;
          line-height: 162%;
          letter-spacing: 0.01em;
          color: #3e506d;
        }
      }

      &:nth-child(1) {
        justify-content: center;
        margin-bottom: 42px;
        gap: 60px;

        & .index-fourth__content-blocks__block {
          padding: 29px 27px;
          max-width: 414px;
        }
      }

      &:nth-child(2) {
        margin-bottom: 60px;

        & .index-fourth__content-blocks__block {
          margin-left: 18px;
          padding: 39px 27px 35px 54px;
          max-width: 537px;

          &-info {

            &__list {

              &-item {
                position: relative;
                padding-left: 37px;

                & p {
                  font-weight: 800;
                  font-size: 20px;
                  line-height: 180%;
                  letter-spacing: 0.01em;
                  color: #3e506d;
                }

                &::after {
                  content: '';
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 29px;
                  height: 33px;
                  background-repeat: no-repeat;
                  background-image: url(../img/index/fourth/Check.svg);
                }
              }
            }
          }
        }
      }

      &:nth-child(3) {
        justify-content: center;
        gap: 60px;

        & .index-fourth__content-blocks__block {
          padding: 13px 31px;
          max-width: 414px;
        }
      }
    }
  }

  &__arrow {

    & picture {

      &:nth-child(1) {
        top: 179px;
        left: -1px;
      }

      &:nth-child(2) {
        top: 179px;
        right: 4px;
      }

      &:nth-child(3) {
        bottom: 27px;
        left: -2px;
      }

      &:nth-child(4) {
        bottom: 26px;
        right: 3px;
      }
    }
  }
}

.index-fifth {
  padding: 89px 0 157px 0;

  & h2 {
    color: #3e506d;
    margin-bottom: 66px;
  }

  &__content {

    &-blocks {
      row-gap: 13px;

      &__block {

        &:nth-child(2n) {
          padding-left: 4px;
          padding-right: 16px;
        }

        &:nth-child(2n+1) {
          padding-right: 6px;
        }

        &:nth-child(4) {

          & .index-fifth__content-blocks__block-content__info {

            &-icons {
              gap: 13px;
              min-width: 103px;
              align-items: start;

              & span {
                &:nth-child(2n) {
                  margin-left: auto;
                }
              }
            }
          }
        }

        &-content {

          padding: 62px 0 20px 0;
          border-radius: 10px;
          border: 4px solid #126196;
          background-color: #42789c;



          & h3 {
            margin-bottom: 57px;
            font-weight: 1000;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0.01em;
            text-align: center;
            color: #fff;
          }

          &__info {
            display: flex;
            align-items: center;
            min-height: 316px;
            gap: 34px;
            padding: 0 28px 0 22px;
            margin: 0 -4px 0 -4px;
            border-radius: 10px;
            border: 4px solid #7baecf;
            background-color: #fff;

            &-icons {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 23px;
            }

            &-descrs {
              display: flex;
              flex-direction: column;
              gap: 22px;

              & p {
                font-weight: 400;
                font-size: 16px;
                line-height: 137%;
                letter-spacing: .007em;
                text-align: justify;
                color: #7688a5;
              }
            }
          }
        }
      }
    }
  }
}

.index-sixth {
  padding: 72px 0 167px 0;
  background: radial-gradient(97.65% 72.36% at 77.4% 53.02%, #ffcb44 0%, #ffa800 100%), radial-gradient(150.5% 81.65% at 43.85% 11.67%, rgba(255, 245, 0, 0.9) 0%, rgba(207, 162, 0, 0.2) 100%);

  & h2 {
    color: #544200;
    margin-bottom: 66px;
  }

  &__content {

    &-blocks {
      padding-top: 63px;

      &__block {

        &:nth-child(2n) {
          padding-left: 4px;
          padding-right: 25px;
        }

        &:nth-child(2n+1) {
          padding-right: 5px;
        }

        &-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 393px;
          border-radius: 10px;
          border: 2px solid #a98300;
          background: rgba(255, 255, 255, 0.38);

          &__top {
            margin-bottom: 29px;
            max-width: 310px;
            padding: 25px;
            margin-top: -46px;
            border-radius: 10px;
            border: 2px solid #a98300;
            background-color: #ffeea8;

            & h3 {
              font-weight: 800;
              font-size: 20px;
              line-height: 125%;
              letter-spacing: 0.01em;
              text-align: center;
              color: #554200;
            }
          }
        }

        &:nth-child(1) {

          & .index-sixth__content-blocks__block-content {

            &__list {
              display: flex;
              flex-direction: column;
              gap: 9px;
              width: 410px;

              &-item {
                @include flex-center;
                justify-content: flex-start;
                position: relative;
                padding: 0 26px 0 77px;
                margin-left: 35px;
                border-radius: 10px;
                min-height: 77px;

                & .number {
                  position: absolute;
                  @include flex-center;
                  top: -2px;
                  left: -35px;
                  width: 77px;
                  height: 105%;
                  border-radius: 100px;
                  background-color: inherit;

                  & p {
                    font-weight: 300;
                    font-size: 48px;
                    line-height: 42%;
                    letter-spacing: 0em;
                  }
                }

                & p {
                  font-weight: 1000;
                  font-size: 20px;
                  line-height: 100%;
                  letter-spacing: 0.01em;
                }

                &:nth-child(1) {
                  border: 2px solid #95b46b;
                  background-color: #d8ffa0;

                  & p {
                    color: #3e620c;
                  }

                  & .number {
                    border: 2px solid #95b46b;
                  }
                }

                &:nth-child(2) {
                  border: 2px solid #6bb4ae;
                  background-color: #a0ffef;

                  & p {
                    color: #0c6262;
                  }

                  & .number {
                    border: 2px solid #6bb4ae;
                  }
                }

                &:nth-child(3) {
                  border: 2px solid #6b8db4;
                  background-color: #bbe0ff;

                  & p {
                    color: #0c4162;
                  }

                  & .number {
                    border: 2px solid #6b8db4;
                  }
                }

                &:nth-child(4) {
                  border: 2px solid #b06bb4;
                  background-color: #efc0ff;

                  & p {
                    color: #510c62;
                  }

                  & .number {
                    border: 2px solid #b06bb4;
                  }
                }
              }
            }
          }
        }

        &:nth-child(2) {

          & .index-sixth__content-blocks__block-content {

            &__list {
              display: flex;
              flex-direction: column;
              gap: 13px;
              width: 328px;
              margin-right: 9px;

              &-item {
                @include flex-center(10px);

                & p {
                  font-weight: 800;
                  font-size: 16px;
                  line-height: 125%;
                  letter-spacing: 0.01em;
                  text-align: center;
                }

                &__block {
                  @include flex-center;
                  width: 100%;
                  border-radius: 10px;
                  min-height: 72px;
                }

                &:nth-child(1) {

                  & .index-sixth__content-blocks__block-content__list-item__block {

                    &:nth-child(1) {
                      border: 2px solid #95b46b;
                      background-color:  #a8ffa0;
                    }

                    &:nth-child(2) {
                      border: 2px solid #7bbfa4;
                      background-color:  #a0ffd9;
                    }

                    &:nth-child(3) {
                      border: 2px solid #78babf;
                      background-color:  #a0f9ff;
                    }
                  }
                }

                &:nth-child(2) {

                  & .index-sixth__content-blocks__block-content__list-item__block {

                    &:nth-child(1) {
                      border: 2px solid #7db0bb;
                      background-color:  #a0eeff;
                    }

                    &:nth-child(2) {
                      border: 2px solid #86b0ca;
                      background-color:  #a0dbff;
                    }
                  }
                }

                &:nth-child(3) {

                  & .index-sixth__content-blocks__block-content__list-item__block {

                    &:nth-child(1) {
                      border: 2px solid #8790b1;
                      background-color:  #c0cdff;
                    }

                    &:nth-child(2) {
                      border: 2px solid #a89cc2;
                      background-color:  #e2d6ff;
                    }
                  }
                }

                &:nth-child(4) {

                  & .index-sixth__content-blocks__block-content__list-item__block {

                    &:nth-child(1) {
                      border: 2px solid #ad8bb0;
                      background-color:  #fcd8ff;
                    }
                  }
                }
              }
            }
          }
        }
      }

    }
  }

}

.index-seventh {
  padding: 107px 0 140px 0;

  & h2 {
    color: #3e506d;
    margin-bottom: 100px;
  }

  &__content {

    &-blocks {

      &__block {

        &:nth-child(2n) {
          padding-left: 0px;
          padding-right: 25px;
        }

        &:nth-child(2n+1) {
          padding-right: 10px;
        }

        &-content {
          padding: 64px 40px 31px 40px;
          border-radius: 10px;
          gap: 25px;

          & h3 {
            @include flex-center;
            min-height: 50px;
            font-weight: 1000;
            font-size: 20px;
            line-height: 125%;
            letter-spacing: 0.01em;
            text-align: center;
          }

          & p {
            font-weight: 400;
            font-size: 16px;
            line-height: 137%;
            letter-spacing: 0.01em;
            text-align: justify;
          }

          & .number {
            position: absolute;
            @include flex-center;
            top: -33px;
            left: 50%;
            transform: translateX(-50%);
            width: 77px;
            height: 77px;
            border-radius: 100px;
            background-color: inherit;

            & p {
              font-weight: 300;
              font-size: 48px;
              line-height: 42%;
              letter-spacing: 0em;
            }
          }
        }

        &:nth-child(1) {

          & .index-seventh__content-blocks__block-content {
            border: 2px solid #7fbfb2;
            background-color: #cdfff5;

            & h3 {
              color: #336258;
            }

            & p {
              color: #336258;
            }

            & .number {
              border: 2px solid #7fbfb2;
              background-color: #ebfffb;
            }
          }
        }

        &:nth-child(2) {

          & .index-seventh__content-blocks__block-content {
            border: 2px solid #8dadc2;
            background-color: #c7e9ff;

            & h3 {
              color: #385061;
            }

            & p {
              color: #336258;
            }

            & .number {
              border: 2px solid #8dadc2;
              background-color: #edf8ff;
            }
          }
        }

      }
    }
  }
}

.index-questions {
  padding: 79px 0 100px 0;
  background-image: url(../img/index/questions/questions-background.svg);
  background-size: cover;
  background-repeat: no-repeat;

  & h2 {
    margin-bottom: 85px;
  }

  &__content {
    margin-bottom: 72px;
    padding: 47px 60px 51px 41px;
    border-radius: 10px;
    border: 4px solid #c4e1eb;
    box-shadow: inset -5px 7px 8px 0 rgba(0, 0, 0, 0.25);
    background: linear-gradient(0deg, #89BC96, #89BC96),
    radial-gradient(60.24% 135.41% at 66.7% -15.82%, rgba(253, 255, 140, 0.5) 0%, rgba(253, 255, 140, 0) 100%),
    radial-gradient(35.61% 93.04% at 27.42% 93.04%, rgba(230, 237, 207, 0.8) 0%, rgba(204, 213, 175, 0) 100%);

    &-blocks {

      &__block {

        &-content {
          @include flex-center;
          padding: 26px 40px;

          & .picture {
            position: absolute;
            top: 7px;
            width: 62px;
            height: 64px;
            border-radius: 100%;
            overflow: hidden;

            & img {
              height: 100%;
            }
          }

          & p {
            font-weight: 200;
            font-size: 14px;
            line-height: 143%;
            letter-spacing: 0.01em;
            color: #000;
          }

          & .name {
            position: absolute;
            bottom: -23px;
            font-weight: 200;
            font-size: 12px;
            line-height: 167%;
            letter-spacing: 0.01em;
            color: #000;
          }
        }
      }

      &:nth-child(2n+1) {
        margin-bottom: 16px;

        & .index-questions__content-blocks__block {

          &-content {
            border-radius: 20px 20px 20px 0;
            background-color: #fff;

            & .picture {
              left: -29px;
              border: 2px solid #fff;
            }

            & .name {
              left: 30px;
            }
          }
        }
      }

      &:nth-child(2n) {
        margin-bottom: 36px;

        & .index-questions__content-blocks__block {
          max-width: 615px;

          &-content {
            padding: 22px 40px;
            border-radius: 20px 20px 0 20px;
            background-color: #effdde;

            & .picture {
              right: -29px;
              border: 2px solid #effdde;
            }

            & p {
              text-align: justify;
            }

            & .name {
              right: 30px;
            }
          }
        }
      }
    }
  }

  &__btn {
    max-width: 426px;
    font-size: 16px;
    padding: 17px 42px;
    border-radius: 10px;
    border: 1px solid #abddfe;
    color: #1b655f;
    box-shadow: -2px 6px 10px 0 rgba(0, 0, 0, 0.15);
    background-color: #64ffa2;

    &:hover {
      color: #fff;
      box-shadow: -2px 6px 10px 0 rgba(0, 0, 0, 0.15);
      background-color: #20cb64
    }

    &:active {
      color: #fff;
      box-shadow: inset -2px 6px 10px 0 rgba(0, 0, 0, 0.15);
      background-color: #197940;
    }
  }
}

@media (max-width: 992px) {

  .index-hero {
    padding-top: 56px;
    padding-bottom: 26px;

    &__content {
      flex-direction: column;
      align-items: flex-start;

      & h1 {
        text-align: center;
        max-width: 100%;
      }

      &-list {
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
        justify-content: space-between;

        &__item {

          & p {
            font-size: 15px;
          }
        }

      }

    }
  }

  .index-trainer {

    & .container {
      position: relative;
      padding: 0;
    }

    & h2 {
      position: absolute;
      top: 240px;
      right: 0;
      padding-right: 0;
      font-size: 24px;
    }

    &__content {


      &-left {
        @include flex-center;
        flex-direction: column;
        padding-left: 12px;
        padding-right: 12px;

        & h3 {
          line-height: 150%;
        }

        &__top {
          position: relative;
          padding: 18px 24px 15px 23px;
          border-radius: 10px;
          border: 4px solid #c4e1eb;
          z-index: 2;
        }

        &__info {
          @include grid-ColumnsEqually(2, 6px);
          width: 100%;
          padding: 0;
          margin-top: -17px;
          margin-bottom: 63px;
          border: none;
          background-color: inherit;
          z-index: 1;

          &-block {
            padding: 21px 8px 18px 7px;
            border-radius: 10px;
            border: 4px solid #c4e1eb;
            background-color: #e9f6ff;

            &:nth-child(1) {
              margin-bottom: 0;
            }

            & h4 {

              & span {
                line-height: 100%;
              }
            }

            & p {
              margin: auto;
              max-width: 200px;
            }
          }
        }

        &__bottom {
          padding: 11px 20px 22px 5px;
          margin-top: 0;
          width: 100%;
          border-radius: 10px 10px 0 0;
          border: 4px solid #3f6e8c;
          background-color: #5b829c;

          & h3 {
            display: none;
          }

          &-list {
            justify-content: flex-end;
            gap: 28px;

            &__item {
              @include flex-center(5px);

              &.time {
                display: flex;
              }

              & .icon {
                display: block;
              }

              & p {
                @include flex-center;
                padding: 10px 5px 10px 5px;
                min-width: 71px;
                border-radius: 10px;
                box-shadow: inset 2px 2px 2px 0 rgba(146, 185, 210, 0.6);
                background-color: #eaf7ff;
                font-weight: 100;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0.01em;
                text-align: center;
                color: #646f81;

                & span {
                  display: none;
                }
              }
            }
          }
        }

      }

      &-right {
        flex: 1 1 auto;
        padding-left: 12px;
        padding-right: 12px;
        margin-top: -10px;

        & .carousel-inner {
          height: 100%;
        }

        &__block {
          height: 63%;

          &-info {
            display: flex;
            flex-direction: column;
            padding: 18px 17px 9px 13px;
            border: 4px solid #3f6e8c;
          }
        }
      }
    }

    &__btns {
      @include grid-ColumnsEqually(2, 10px);
      width: 90%;
      margin: auto;

      &-btn {
        width: 100%;
      }
    }
  }

  .index-third {

    &__content {

      &-blocks {

        &__block {
          max-width: 100%;
        }

        &:nth-child(2) {
          padding: 0;
          padding-right: 35px;
        }
      }
    }
  }

  .index-fourth {
    padding: 58px 0 80px 0;

    & h2 {
      margin-bottom: 53px;
    }

    &__content {

      &-blocks {

        &__block {
          position: relative;
          z-index: 2;
        }

        &:nth-child(1) {
          justify-content: center;
          gap: 52px;
          margin-bottom: 32px;

          & .index-fourth__content-blocks__block {
            align-items: flex-start;
            max-width: 284px;

            &:nth-child(1) {
              padding: 16px 22px 16px 23px;
            }

            &:nth-child(2) {
              padding: 15px 9px 14px 26px;

            }
          }
        }

        &:nth-child(2) {
          padding: 0 12px 0 17px;
          margin-bottom: 39px;

          & .index-fourth__content-blocks__block {
            max-width: 507px;
            min-height: 213px;
            margin-left: 0;
            padding: 39px 27px 35px 30px;
          }
        }

        &:nth-child(3) {
          justify-content: center;
          gap: 47px;

          & .index-fourth__content-blocks__block {
            padding: 13px 7px 13px 24px;
            max-width: 284px;

          }
        }
      }
    }

    &__arrow {

      & picture {

        &:nth-child(1) {
          top: 193px;
          left: 14px;
        }

        &:nth-child(2) {
          top: 193px;
          right: 20px;
        }

        &:nth-child(3) {
          bottom: 27px;
          left: 14px;
        }

        &:nth-child(4) {
          bottom: 27px;
          right: 20px;
        }
      }
    }
  }

  .index-fifth {

    &__content {

      &-blocks {
        padding-left: 12px;
        padding-right: 12px;

        &__block {

          &:nth-child(2n+1) {
            padding: 0;
          }

          &:nth-child(2n) {
            padding: 0;
          }
        }
      }
    }
  }

  .index-sixth {

    &__content {

      &-blocks {
        gap: 80px;

        &__block {

          &-content {
            padding-bottom: 20px;
            height: auto;
          }
        }
      }
    }
  }

  .index-seventh {

    &__content {

      &-blocks {
        gap: 60px;
      }
    }
  }

  .index-questions {

    &__content {

      &-blocks {

        &:nth-child(2n+1) {
          margin-bottom: 30px;
        }
      }
    }
  }
}

@media (max-width: 768px) {

  .index-hero {
    padding-top: 56px;
    padding-bottom: 43px;

    &__content {
      gap: 33px;

      & h1 {
        font-size: 24px;
      }

      &-list {
        display: flex;
        flex-direction: column;

        &__item {

          &:nth-child(2) {
            margin-bottom: 15px;
          }

          &:nth-child(3) {
            align-self: self-end;
          }

          &:nth-child(4) {
            min-width: 291px;
            align-self: self-end;
          }
        }
      }
    }
  }

  .index-trainer {
    padding-bottom: 65px;

    & h2 {
      top: 270px;
    }

    &__content {
      gap: 0;
      margin-bottom: 31px;

      &-left {
        padding-right: 12px;
        padding-left: 12px;

        &__top {
          padding: 21px 30px 15px 30px;
        }

        & h3 {
          font-size: 18px;
        }

        &__info {
          gap: 4px;
          border-radius: 10px 10px 0 0;

          & p {
            font-size: 13px;
          }

          &-block {
            padding: 21px 24px 24px 24px;

            &:nth-child(1) {
              margin-bottom: 0;
            }

            & h4 {
              display: flex;
              flex-direction: column;
              align-items: center;
            }
          }
        }

        &__bottom {
          position: relative;
          padding: 6px 9px 5px 17px;

          &-list {
            gap: 21px;

            & p {
              padding: 9px 5px 9px 5px;
              min-width: 60px;
            }
          }
        }
      }

      &-right {
        position: relative;
        margin-top: -5px;
        padding-left: 12px;
        padding-right: 12px;
        z-index: 3;

        & .carousel-inner {
          height: auto;
        }

        &__block {
          height: auto;

          &-img {
            height: 418px;
            border-left: 4px solid #3f6e8c;
            border-right: 4px solid #3f6e8c;

            & img {
              height: 100%;
            }
          }

          &-info {
            padding: 25px 29px 31px 27px;
            height: auto;

            &__btns {
              grid-template-columns: repeat(2, 1fr);
              row-gap: 15px;
            }
          }

        }
      }
    }

    &__btns {
      grid-template-columns: repeat(2, auto);
      width: 90%;
      margin: auto;

      &-btn {
        gap: 10px;
        font-size: 14px;
        line-height: 110%;
      }
    }
  }

  .index-third {
    padding: 40px 0 60px 0;

    &__content {
      display: flex;
      flex-direction: column;
      gap: 30px;

      &-blocks {

        &__block {

          &-info {

            & p {
              text-align: start;
              letter-spacing: -0.6px;
            }

            & .number {
              top: -35px;
              left: 50%;
              transform: translateX(-50%);
              width: 60px;
              height: 60px;

              & p {
                font-size: 30px;
              }
            }
          }
        }

        &:nth-child(1) {
          padding-left: 12px;
          padding-right: 12px;

          & .index-third__content-blocks__block {
            padding: 40px 20px 25px 20px;

            &-info {

              &__list {
                padding-left: 20px;
              }
            }
          }
        }

        &:nth-child(2) {
          padding-left: 10px;
          padding-right: 10px;

          & .index-third__content-blocks__block {
            padding: 40px 20px 25px 20px;

            &-info {

              & .number {
                left: 50%;
                right: inherit;
              }
            }
          }
        }

        &:nth-child(3) {
          padding-left: 10px;
          padding-right: 10px;

          & .index-third__content-blocks__block {
            padding: 40px 20px 25px 20px;

            &-info {
              padding: 0;
            }
          }
        }
      }
    }
  }

  .index-fourth {
    padding: 88px 0 102px 0;

    & h2 {
      margin-bottom: 32px;
    }

    &__content {
      display: grid;
      grid-template-columns: auto;
      grid-template-areas:
      "block2"
      "block1"
      "block3";

      &-blocks {
        padding-left: 12px;
        padding-right: 12px;

        &:nth-child(1) {
          flex-direction: column-reverse;
          grid-area: block1;
          margin-bottom: 11px;
          gap: 12px;

          & .index-fourth__content-blocks__block {
            align-items: center;

            padding: 28px;

            &:nth-child(1) {
              padding: 10px 22px 10px 30px;
              margin-left: auto;
              margin-right: 29px;
              max-width: calc(100% - 127px);
              min-height: 139px;
            }

            &:nth-child(2) {
              padding: 10px 9px 10px 30px;
              margin-left: 40px;
              margin-right: auto;
              max-width: calc(100% - 108px);
              min-height: 139px;
            }
          }
        }

        &:nth-child(2) {
          grid-area: block2;
          margin-bottom: 11px;

          & .index-fourth__content-blocks__block {
            padding: 37px 27px 35px 41px;
            min-height: 184px;
          }
        }

        &:nth-child(3) {
          grid-area: block3;
          flex-direction: column-reverse;
          gap: 13px;

          & .index-fourth__content-blocks__block {

            &:nth-child(1) {
              margin-left: auto;
              margin-right: 29px;
              max-width: calc(100% - 128px);
              min-height: 81px;
            }

            &:nth-child(2) {
              margin-right: auto;
              margin-left: 40px;
              max-width: calc(100% - 113px);
              padding: 10px 26px 10px 26px;
              min-height: 81px;
            }
          }
        }
      }
    }

    &__arrow {

      & picture {

        &:nth-child(1) {
          top: 283px;
          left: 31px;
        }

        &:nth-child(2) {
          top: 284px;
          right: 24px;
        }

        &:nth-child(3) {
          bottom: 11px;
          left: 19px;
        }

        &:nth-child(4) {
          bottom: 106px;
          right: 17px;
        }
      }
    }
  }

  .index-fifth {
    padding: 60px 0 80px 0;

    &__content {

      &-blocks {

        &__block {

          &-content {
            padding: 30px 0 20px 0;

            & h3 {
              margin-bottom: 24px;
            }

            &__info {
              justify-content: space-between;
              gap: 20px;
              min-height: 270px;
              padding: 10px;
              gap: 20px;

              &-descrs {
                padding-right: 20px;
                max-width: 330px;

                & p {
                  text-align: inherit;
                }
              }
            }
          }
        }
      }
    }
  }

  .index-sixth {
    padding: 40px 0 60px 0;

    & h2 {
      margin-bottom: 20px;
    }

    &__content {

      &-blocks {
        padding-left: 12px;
        padding-right: 12px;

        &__block {

          &-content {
            padding: 0 10px 20px 10px;

            &__top {

              & h3 {
                font-size: 16px;
              }
            }
          }

          &:nth-child(1) {
            padding: 0;

            & .index-sixth__content-blocks__block-content {

              &__list {
                width: 100%;

                &-item {
                  min-height: 65px;
                  margin-left: 20px;
                  padding: 0 10px 0 50px;

                  & .number {
                    left: -26px;
                    width: 65px;

                    & p {
                      line-height: 100%;
                      font-size: 30px;
                    }
                  }

                  & p {
                    font-size: 16px;
                  }
                }
              }
            }
          }

          &:nth-child(2) {
            padding: 0;

            & .index-sixth__content-blocks__block-content {

              &__list {
                width: 100%;
              }
            }
          }


        }
      }
    }
  }

  .index-seventh {
    padding: 40px 0 60px 0;

    & h2 {
      margin-bottom: 50px;
    }

    &__content {

      &-blocks {
        padding-left: 12px;
        padding-right: 12px;

        &__block {

          &-content {
            padding: 30px 40px 30px 40px;
            gap: 10px;

            & .number {
              width: 60px;
              height: 60px;

              & p {
                font-size: 36px;
              }
            }
          }

          &:nth-child(2n+1) {
            padding: 0;
          }

          &:nth-child(2n) {
            padding: 0;
          }
        }
      }
    }
  }

  .index-questions {
    padding: 40px 0 60px 0;

    &__content {
      margin-bottom: 40px;
      padding: 30px 50px 30px 50px;

      &-blocks {

        &:nth-child(2n+1) {
          margin-bottom: 25px;
        }

        &__block {

          &-content {
            padding: 13px 36px;

            & .picture {
              top: -12px;
            }

            & p {
              text-align: justify;
            }
          }
        }
      }
    }

    &__btn {
      font-size: 12px;
    }
  }
}

@media (max-width: 576px) {
  .index-trainer {

    & .container {
      padding: 0 12px;
    }

    & h2 {
      right: 12px;
    }

    &__content {

      &-right {

        &__block {
        }
      }
    }
  }

  .index-fourth {

    &__content {

      &-blocks {

        &:nth-child(2) {

          & .index-fourth__content-blocks__block {
            max-width: 100%;
          }
        }

      }
    }
  }
}

@media (max-width: 532px) {

  .index-trainer {

    &__content {

      &-right {

        &__block {

          &-info {

            padding: 25px 10px;
          }
        }
      }
    }
  }

  .index-fourth {

    &__content {

      &-blocks {

        &__block {

          &-info {

            & p {
              font-size: 14px;
            }
          }
        }

        &:nth-child(1) {


          & .index-fourth__content-blocks__block {
            padding: 16px;

            &:nth-child(2) {
              padding: 16px;
            }
          }
        }

        &:nth-child(2) {

          & .index-fourth__content-blocks__block {
            padding: 20px;

            &-info {

              &__list {

                &-item {

                  & p {
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }

    }
  }

  .index-fifth {
    padding: 60px 0 80px 0;

    &__content {

      &-blocks {

        &__block {

          &-content {


            & h3 {
              font-size: 18px;
            }

            &__info {

              &-descrs {
                padding-right: 0;
              }
            }
          }
        }
      }
    }
  }

  .index-sixth {

    &__content {

      &-blocks {

        &__block {

          &:nth-child(1) {

            & .index-sixth__content-blocks__block-content {

              &__list {

                &-item {

                  & .number {
                    & p {
                      font-size: 24px;
                    }
                  }

                  & p {
                    font-size: 16px;
                  }
                }
              }
            }
          }

          &:nth-child(2) {

            & .index-sixth__content-blocks__block-content__list-item {

              &__block {
                padding: 0 10px;
              }
            }
          }

        }
      }
    }
  }

  .index-seventh {
    padding: 40px 0 60px 0;

    & h2 {
      margin-bottom: 50px;
    }

    &__content {

      &-blocks {
        padding-left: 12px;
        padding-right: 12px;

        &__block {

          &-content {

            & .number {

              & p {
                font-size: 30px;
              }
            }

            & h3 {
              font-size: 18px;
            }
          }
        }
      }
    }
  }

  .index-questions {

    &__content {
      padding: 30px 20px;

      &-blocks {

        &:nth-child(2n+1) {
          margin-left: 10px;

          & .index-questions__content-blocks__block-content {
            padding: 13px 15px 13px 36px;
          }
        }

        &:nth-child(2n) {
          margin-right: 10px;

          & .index-questions__content-blocks__block-content {
            padding: 13px 36px 13px 15px;
          }
        }
      }
    }
  }
}

@media (max-width: 470px) {

  .index-trainer {

    & h2 {
      display: flex;
      flex-direction: column;
      padding-left: 12px;
      top: 310px;
      line-height: 110%;
    }

    &__content {

      &-left {

        &__info {
          margin-bottom: 132px;

          &-block {
            padding: 21px 10px 24px 10px;
          }
        }
      }
    }

    &__btns {

      & button {
        font-size: 12px;
      }
    }
  }

  .index-fourth {

    &__arrow {

      & picture {

        &:nth-child(1) {
          top: 283px;
          left: 31px;
        }

        &:nth-child(2) {
          top: 284px;
          right: 24px;
        }

        &:nth-child(3) {
          bottom: 11px;
          left: 19px;
        }

        &:nth-child(4) {
          bottom: 106px;
          right: 17px;
        }
      }
    }
  }
}

@media (max-width: 400px) {

  .index-trainer {

    & h2 {
      top: 26%;
    }
  }

  .index-fourth {

    &__content {

      &-blocks {

        &:nth-child(1) {

          & .index-fourth__content-blocks__block {

            &:nth-child(1) {
              min-height: 130px;
            }

            &:nth-child(2) {
              min-height: 130px;
            }
          }
        }

        &:nth-child(2) {

          & .index-fourth__content-blocks__block {
            min-height: 230px;
          }
        }

        &:nth-child(3) {

          & .index-fourth__content-blocks__block {

            &:nth-child(1) {
              min-height: 100px;
            }

            &:nth-child(2) {
              min-height: 100px;
            }
          }
        }
      }
    }

    &__arrow {

      & picture {

        &:nth-child(1) {
          top: 310px;
          left: 31px;
        }

        &:nth-child(2) {
          top: 314px;
          right: 24px;
        }

        &:nth-child(3) {
          bottom: 50px;
          left: 19px;
        }

        &:nth-child(4) {
          bottom: 165px;
          right: 17px;
        }
      }
    }
  }
}
