.oralCountingSimulators-hero {
  padding: 56px 0 100px 0;

  & h1 {
    margin-bottom: 8px;
    font-weight: 800;
    font-size: 32px;
    line-height: 112%;
    letter-spacing: 0em;
    text-align: right;
    color: #5b829c;
  }

  &__content {

    &-blocks {

      &__left {
        padding: 0 0 0 15px;

        &-content {
          padding: 10px 10px 25px 10px;
          border-radius: 10px;
          border: 4px solid #c4e1eb;
          background-color: #cbe2f1;

          &__top {
            margin-bottom: 28px;

            & h3 {
              margin-bottom: 21px;
              font-weight: 400;
              font-size: 14px;
              line-height: 143%;
              letter-spacing: 0.01em;
              text-align: center;
              color: #3e506d;
            }

            & p {

              &.theme {
                margin-bottom: 12px;
                font-weight: 600;
                font-size: 14px;
                line-height: 143%;
                letter-spacing: 0.01em;
                text-align: center;
                color: #3e506d;
              }

              &.step {
                font-weight: 400;
                font-size: 16px;
                line-height: 137%;
                letter-spacing: 0.01em;
                text-align: center;
                color: #3e506d;
              }
            }
          }

          &__info {
            @include flex-center(38px);
            flex-direction: column;
            padding: 61px 10px 43px 10px;
            margin-bottom: 24px;
            border-radius: 10px;
            box-shadow: inset 4px 4px 4px 0 rgba(146, 185, 210, 0.63);
            background-color: #eaf7ff;

            & p {
              text-align: center;
              font-weight: 100;
              font-size: 64px;
              line-height: 40%;
              letter-spacing: 0em;
              text-align: center;
              color: #646f81;

              & span {
                font-weight: 300;
                font-size: 16px;
                line-height: 137%;
              }

              & .icon {
                display: none
              }
            }
          }

          &__btns {
            @include grid-ColumnsEqually(3, 10px);

            &-btn {
              min-height: 60px;
              border-radius: 10px;
              border: 1px solid #abddfe;
              box-shadow: -2px 6px 10px 0 rgba(0, 0, 0, 0.15);
              background-color: #eaf7ff;

              & svg {
                stroke: #8CABBF;
                fill: #8CABBF;
                @include transitionEaseInOut;
              }

              &:hover {
                background-color: #c0d9ff;

                & svg {
                  fill: #fff;
                  stroke: #fff;
                }
              }

              &:active {
                box-shadow: inset -2px 6px 10px 0 rgba(0, 0, 0, 0.15);
                background-color: #7194d0;

                & svg {
                  fill: #fff;
                  stroke: #fff;
                }
              }

              &.active {
                box-shadow: inset -2px 6px 10px 0 rgba(0, 0, 0, 0.15);
                background-color: #89adec;

                & svg {
                  fill: #fff;
                  stroke: #fff;
                }
              }
            }
          }
        }
      }

      &__right {

        &-content {
          height: 100%;
          padding: 7px 6px 31px 6px;
          border-radius: 10px;
          background-color: #8dacc0;

          &__top {
            display: grid;
            grid-template-columns: 231px auto;
            gap: 7px;
            margin-bottom: 5px;

            &-left {
              @include flex-center(10px);
              padding: 10px 30px;
              min-height: 335px;
              border-radius: 10px;
              background-color: #fff;

              &__info {

                & p {
                  padding: 12px 0px;
                  font-weight: 500;
                  font-size: 40px;
                  line-height: 55%;
                  letter-spacing: 0em;
                  text-align: center;
                  color: #668ba4
                }

                & div {
                  display: flex;
                  align-items: center;
                  flex-wrap: wrap;
                  row-gap: 5px;
                }
              }

            }

            &-right {
              @include flex-center;
              padding: 10px 30px;
              min-height: 335px;
              border-radius: 10px;
              background-color: #fff;

              &__info {
                @include flex-center(14px);

                & p {
                  font-weight: 500;
                  font-size: 64px;
                  line-height: 93%;
                  letter-spacing: 0em;
                  text-align: center;
                  color: #668ba4;

                  &.answer {
                    width: 168px;
                    height: 65px;
                    border-radius: 10px;
                    border: 4px solid #668ba4;
                  }
                }
              }
            }
          }

          &__line {
            display: block;
            margin: auto;
            margin-bottom: 22px;
            width: 97%;
            height: 4px;
            border-radius: 3px;
            background-color: #fff;
          }

          &__btns {
            @include grid-ColumnsEqually(3, 12px);
            row-gap: 21px;
            padding: 0 12px;

            & button {
              padding: 19px 10px;
              border-radius: 10px;
              border: 1px solid #abddfe;
              box-shadow: -2px 6px 10px 0 rgba(0, 0, 0, 0.15);
              background-color: #fff;

              font-weight: 500;
              font-size: 32px;
              line-height: 62%;
              letter-spacing: 0em;
              text-align: center;
              color: #668ba4;

              &:hover {
                color: #fff;
                background-color: #75a9f9;
              }

              &:nth-child(2n) {

                &:active{
                  color: #fff;
                  box-shadow: inset -2px 6px 10px 0 rgba(0, 0, 0, 0.15);
                  background-color: #33c966;
                }

                &.active {
                  color: #fff;
                  box-shadow: inset -2px 6px 10px 0 rgba(0, 0, 0, 0.15);
                  background-color: #33c966;
                }
              }

              &:nth-child(2n+1) {
                &:active {
                  color: #fff;
                  box-shadow: inset -2px 6px 10px 0 rgba(0, 0, 0, 0.15);
                  background-color: #ee5e78;
                }

                &.active {
                  color: #fff;
                  box-shadow: inset -2px 6px 10px 0 rgba(0, 0, 0, 0.15);
                  background-color: #ee5e78;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {

  .oralCountingSimulators-hero {
    padding: 119px 0 100px 0;

    &__content-title {
      display: none;
    }

    &__content {

      &-blocks {

        &__left {
          padding: 0;

          &-content {
            position: relative;
            @include flex-betweenCenter;
            flex-direction: row-reverse;
            padding: 9px 15px 20px 15px;
            border-radius: 10px 10px 0 0;
            border: 4px solid #c4e1eb;

            &__top {
              position: absolute;
              top: -71px;
              right: 0;
              margin-bottom: 0;

              &-descr {
                display: flex;
                align-items: center;
                gap: 5px;
              }

              & h3 {
                margin-bottom: 0;
                font-weight: 800;
                font-size: 24px;
                color: #5b829c;
              }

              & p {

                &.theme {
                  margin-bottom: 0;
                  font-weight: 900;
                  font-size: 14px;
                  color: #5b829c;

                  & br {
                    display: none;
                  }
                }

                &.step {
                  font-weight: 900;
                  font-size: 14px;
                  color: #5b829c;
                }
              }
            }

            &__info {
              flex-direction: row;
              padding: 0;
              margin-bottom: 0;
              background-color: #cbe2f1;
              box-shadow: none;
              gap: 9px;

              & p {
                @include flex-betweenCenter;
                width: 151px;
                height: 54px;
                padding: 10px 21px;
                font-weight: 100;
                font-size: 24px;
                line-height: 100%;
                border-radius: 10px;
                box-shadow: inset 4px 4px 4px 0 rgba(146, 185, 210, 0.63);
                background: #eaf7ff;

                & span {
                  display: none;
                }

                & br {
                  display: none;
                }

                & .icon {
                  display: block;
                }
              }
            }

            &__btns {

              &-btn {
                width: 54px;
                min-height: 54px;
              }
            }
          }
        }

        &__right {
          padding: 0;
          margin-top: -10px;
          position: relative;
        }
      }
    }
  }
}

@media (max-width: 768px) {

  .oralCountingSimulators-hero {
    padding: 125px 0 100px 0;

    &__content {

      &-blocks {

        &__left {

          &-content {
            padding: 11px 19px 20px 15px;

            &__info {
              gap: 13px;

              & p {
                width: 138px;
                height: 62px;
              }
            }

            &__btns {
              gap: 13px;

              &-btn {
                width: 57px;
                min-height: 61px;
              }
            }
          }
        }

        &__right {
          margin-top: -6px;

          &-content {
            padding: 7px 6px 42px 6px;

            &__top {
              display: flex;
              flex-direction: column-reverse;
              margin-bottom: 8px;

              &-right {
                min-height: 263px;

                &__info {
                  flex-wrap: wrap;
                }
              }

              &-left {
                min-height: 243px;
                padding: 10px 10px;

                &__info {
                  display: grid;
                  grid-template-columns: 1fr auto 1fr;
                  align-items: center;
                  gap: 13px;

                  & div {

                    &:nth-child(3) {
                      max-width: 170px;
                    }
                  }
                }
              }
            }

            &__line {
              margin-bottom: 40px;
            }

            &__btns {
              grid-template-columns: repeat(2, 1fr);
              row-gap: 16px;
              padding: 0 31px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .oralCountingSimulators-hero {

    &__content {

      &-blocks {
        padding: 0 12px;

        &__left {

          &-content {
            padding: 11px 10px 20px 10px;
            gap: 10px;

            &__top {
              top: inherit;
              bottom: 108%;

              & h3 {
                text-align: end;
              }
            }

            &__info {
              gap: 5px;
              width: 100%;

              & p {
                height: auto;
                width: 100%;
                padding: 15px 10px;
                font-size: 15px;
                gap: 5px;

                & .icon {
                  width: 20px;
                  height: 22px;
                }
              }
            }

            &__btns {
              gap: 5px;
              width: 100%;

              &-btn {
                padding: 15px 10px;
                min-height: auto;
                width: 100%;

                & svg {
                  width: 27px;
                  height: 20px;
                }
              }
            }
          }
        }

        &__right {

          &-content {

            &__top {

              &-right {

                &__info {

                  & p {
                    font-size: 40px;

                    &.answer {
                      @include flex-center;
                      width: 120px;
                      height: 50px;
                    }
                  }
                }
              }

              &-left {

                &__info {

                  & div {

                    &:nth-child(1) {
                      justify-content: end;
                    }

                    & span {

                      & svg {
                        width: 25px;
                        height: 25px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

}
