/* Показатели тренировок */

.trainingIndicators-hero {
  padding-top: 61px;
  padding-bottom: 35px;

  &__content {

    &-blocks {

      &__block {

        &-content {
          padding-bottom: 24px;
          border-radius: 10px;
          min-height: 290px;

          &__top {
            padding: 17px 11px;
            align-items: center;
            gap: 13px;

            & h3 {
              font-weight: 600;
              font-size: 16px;
              line-height: 137%;
              letter-spacing: 0.01em;
            }

            & p {
              font-weight: 300;
              font-size: 14px;
              line-height: 121%;
              letter-spacing: 0.01em;
            }
          }

          &__info {
            @include flex-center;
            min-width: 128px;
            max-width: 100%;
            min-height: 80px;
            border-radius: 10px;

            & p {
              font-weight: 300;
              font-size: 48px;
              line-height: 100%;
              letter-spacing: 0em;
              text-align: center;

              & span {
                font-size: 20px;
              }
            }
          }

          &__bottom {
            position: relative;
            width: 100%;
            height: 34px;

            &-line {
              padding: 5px 13px;
              width: 100%;
              height: 100%;
              border-radius: 0 10px 10px 0;

              & p {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                font-weight: 600;
                font-size: 12px;
                line-height: 183%;
                letter-spacing: 0.01em;
                color: #005e79;
              }
            }
          }
        }

        &:nth-child(1) {
          padding-right: 0;

          & .trainingIndicators-hero__content-blocks__block-content {
            border: 1px solid #cbe2f1;
            background-color: #c9f1fd;

            & h3 {
              color: #005e79;
            }

            & p {
              color: #005e79;
            }

            &__info {
              border: 1px solid #a6ccd7;
              background-color: #d9f6fe;
            }

            &__top {
              padding: 17px 11px 4px 11px;
              gap: 15px;
            }

            &__bottom {
              border-top: 1px solid #cbe2f1;
              border-bottom: 1px solid #cbe2f1;
              background-color: #e5f8ff;

              &-line {
                width: 69%;
                background-color: #a9e0f0;
              }
            }
          }
        }

        &:nth-child(2) {
          padding-left: 10px;
          padding-right: 5px;

          & .trainingIndicators-hero__content-blocks__block-content {
            background-color: #d3e3fc;

            & h3 {
              color: #003f79;
            }

            & p {
              color: #003f79;
            }

            &__info {
              border: 1px solid #b4cadb;
              background-color: #ecf2fe;

              & p {
                font-size: 36px;
              }
            }

            &__top {
              padding: 24px 15px 4px 24px;
              gap: 23px;
            }

            &__bottom {
              border: 1px solid  #c9d9e8;
              background-color: #ecf2fe;

              &-line {
                width: 45%;
                background-color: #b8d1f8;
              }
            }
          }
        }

        &:nth-child(3) {
          padding-left: 7px;
          padding-right: 6px;

          & .trainingIndicators-hero__content-blocks__block-content {
            background-color: #dacafb;

            & h3 {
              color: #644594;
            }

            & p {
              color: #644594;
            }

            &__info {
              border: 1px solid #c9bae3;
              background-color: #efe7fc;

              & p {
                font-size: 36px;
              }
            }

            &__top {
              padding: 22px 15px 4px 20px;
              gap: 23px;
            }

            &__bottom {
              border: 1px solid #cdbfe6;
              background-color: #efe7fc;

              &-line {
                width: 45%;
                background-color: #c8b3f3;
              }
            }
          }
        }

        &:nth-child(4) {
          padding-left: 5px;

          & .trainingIndicators-hero__content-blocks__block-content {
            background-color: #f1c9fb;

            & h3 {
              color: #863a8d;
            }

            & p {
              color: #863a8d;
            }

            &__info {
              border: 1px solid #dbbee8;
              background-color: #f9e7fd;

              & p{
                font-size: 36px;
              }

            }

            &__top {
              padding: 26px 15px 4px 18px;
              gap: 15px;
            }

            &__bottom {
              border: 1px solid #dbbee8;
              background-color: #f9e7fd;

              &-line {
                width: 45%;
                background-color: #dbabe7;
              }
            }
          }
        }
      }
    }
  }
}

.trainingIndicators-exercise {
  padding-bottom: 100px;

  &__content {

    &-block {
      overflow: hidden;
      @include transitionEase;

      &__top {
        gap: 13px;
        padding-bottom: 10px;

        &-info {
          width: 378px;
          height: 86px;
          border-radius: 10px;
          background-color: #883d8f;
          @include transitionEase;

          & .link {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
          }

          &__left {
            position: relative;
            @include flex-center;
            width: 119px;
            border-radius: 10px;
            background-color: #fce2ff;
            background-image: url(../img/trainingIndicators/exercise/exercise-img1.svg);
            background-repeat: no-repeat;
            background-position: left center;
            z-index: 1;
            @include transitionEase;

            & p {
              font-weight: 600;
              font-size: 24px;
              line-height: 62%;
              letter-spacing: 0em;
              text-align: center;
              color: #863a8d;

              & span {
                font-size: 12px;
              }
            }
          }

          &__right {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 25px;
            padding-top: 8px;

            & h3 {
              font-weight: 900;
              font-size: 14px;
              line-height: 157%;
              letter-spacing: 0.01em;
              text-align: center;
              color: #fff;
            }

            & .subject {
              position: absolute;
              top: 0;
              left: 113px;
              padding: 5px 13px 5px 24px;
              border-radius: 0 5px 5px 0;
              background-color: #f1c9fb;
              z-index: 0;

              & p {
                font-weight: 500;
                font-size: 12px;
                line-height: 100%;
                letter-spacing: 0.01em;
                color: #883d8f;
              }
            }
          }
        }

        &-cards {
          @include grid-ColumnsEqually(6, 5px);

          &__card {
            @include flex-betweenCenter;
            flex-direction: column;
            padding: 8px 0;
            border-radius: 10px;
            border: 1px solid #cbe2f1;
            background-color: #fff;

            & .icon {
              display: none;
            }

            & span {
              align-self: end;
              margin-right: 12px;
              font-weight: 100;
              font-size: 15px;
              line-height: 100%;
              letter-spacing: 0.01em;
              text-align: center;
              color: #058921;
            }

            & h4 {
              font-weight: 300;
              font-size: 24px;
              line-height: 100%;
              letter-spacing: 0em;
              text-align: center;
              color: #616161;
            }

            & p {
              font-weight: 300;
              font-size: 12px;
              line-height: 100%;
              letter-spacing: 0.01em;
              text-align: center;
              color: #646f81;
            }

            &-btn {
              width: 100%;
              height: 100%;
              border-radius: 10px;
              border: 1px solid #abddfe;
              box-shadow: -2px 6px 10px 0 rgba(0, 0, 0, 0.15);
              background-color: #a8c6fa;
              @include transitionEaseInOut;

              &:hover {
                box-shadow: -2px 6px 10px 0 rgba(0, 0, 0, 0.15);
                background-color: #c0d9ff;
              }

              &:active {
                box-shadow: inset -2px 6px 10px 0 rgba(0, 0, 0, 0.15);
                background-color: #7194d0;
              }
            }

            &:last-child {
              border: none;
              padding: 0;
            }

          }
        }
      }

      &__conteiner {
        width: 100%;
      }

      &__bottom {
        display: grid;
        grid-template-columns: 115px 1fr 1fr;
        gap: 13px;
        padding-top: 20px;

        & p {
          font-weight: 400;
          font-size: 14px;
          line-height: 100%;
          letter-spacing: 0.01em;
          text-align: center;
          color: #615f5f
        }

        &-block {
          padding-bottom: 30px;

          &__top {
            margin-bottom: 20px;
            padding-top: 10px;
            border-radius: 10px;
            border: 1px solid #cbe2f1;
            background-color: #edf3ff;

            &-select {
              position: relative;
              display: flex;
              justify-content: end;
              align-items: center;
              gap: 10px;
              padding-right: 3px;
              margin-bottom: 8px;

              & select {
                -webkit-appearance: none;
                -moz-appearance: none;
                -o-appearance: none;
                appearance: none;
                font-weight: 400;
                font-size: 14px;
                line-height: 157%;
                letter-spacing: 0.01em;
                text-align: center;
                color: #615f5f;

                &::placeholder {
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 157%;
                  letter-spacing: 0.01em;
                  text-align: center;
                  color: #615f5f;
                }
              }
            }

            & h4 {
              margin-bottom: 10px;
              font-weight: 600;
              font-size: 12px;
              line-height: 183%;
              letter-spacing: 0.01em;
              text-align: center;
              color: #742e7a;
            }

            &-names {
              margin-left: -1px;
              margin-bottom: -1px;
              width: calc(100% + 2px);

              &__name {
                @include flex-center;
                min-height: 44px;
                padding: 1px 1px;
                border-radius: 10px;
                border: 1px solid #cbe2f1;
                background-color: #fff;
              }
            }
          }

          &__bottom {

            &-list {
              display: flex;
              flex-direction: column;
              gap: 8px;

              &__item {
                @include flex-center;
                min-height: 43px;
                border: 1px solid #cbe2f1;
                border-radius: 10px;
                background-color: #fff;
              }
            }
          }

          &:not(:first-child) {

            & .trainingIndicators-exercise__content-block__bottom-block__top {

              &-names {
                @include grid-ColumnsEqually(4, 5px);
              }
            }

            & .trainingIndicators-exercise__content-block__bottom-block__bottom {
              @include grid-ColumnsEqually(4, 5px);
            }
          }

          &:nth-child(2) {

            & .trainingIndicators-exercise__content-block__bottom-block__top {
              background-color: #f9def6;
            }

            & .trainingIndicators-exercise__content-block__bottom-block__bottom {
              &-list {

                &:nth-child(2n+1) {

                  & .trainingIndicators-exercise__content-block__bottom-block__bottom-list__item {
                    border: 1px solid #d2bdd5;
                    background-color: #faebfe;
                  }
                }

                &:nth-child(2n) {

                  & .trainingIndicators-exercise__content-block__bottom-block__bottom-list__item {
                    border: 1px solid #d3bad7;
                    background-color: #f7e0fc;
                  }
                }
              }
            }
          }

          &:nth-child(3) {

            & .trainingIndicators-exercise__content-block__bottom-block__top {
              background-color: #d3e3fc;

              & h4 {
                color: #173974;
              }
            }

            & .trainingIndicators-exercise__content-block__bottom-block__bottom {
              &-list {

                &:nth-child(2n+1) {

                  & .trainingIndicators-exercise__content-block__bottom-block__bottom-list__item {
                    border: 1px solid #bbcbe4;
                    background-color: #edf3ff;
                  }
                }

                &:nth-child(2n) {

                  & .trainingIndicators-exercise__content-block__bottom-block__bottom-list__item {
                    border: 1px solid #bbcbe4;
                    background-color: #dae9fe;
                  }
                }
              }
            }
          }
        }
      }

      &:nth-child(1) {

        & .trainingIndicators-exercise__content-block__top {

          &-info {
            background-color: #883d8f;

            &:hover {
              background-color: #a856af;
            }

            &:active {
              background-color: #651b6c;
            }

            &__left {
              justify-content: end;
              padding-right: 12px;
              background-color: #fce2ff;
              background-image: url(../img/trainingIndicators/exercise/exercise-img1.svg);

              & p {
                color: #863a8d;
              }
            }

            &__right {

              & .subject {
                background-color: #f1c9fb;

                & p {
                  color: #883d8f;
                }
              }
            }
          }
        }

        & .trainingIndicators-exercise__content-block__bottom {

          &-block {

            &:nth-child(2) {

              & .trainingIndicators-exercise__content-block__bottom-block__bottom {

                &-list {

                  &:nth-child(2n+1) {

                    & .trainingIndicators-exercise__content-block__bottom-block__bottom-list__item {
                      border: 1px solid #d2bdd5;
                      background-color: #faebfe;
                    }
                  }

                  &:nth-child(2n) {

                    & .trainingIndicators-exercise__content-block__bottom-block__bottom-list__item {
                      border: 1px solid #d3bad7;
                      background-color: #f7e0fc;
                    }
                  }
                }
              }
            }

          }
        }
      }

      &:nth-child(2) {

        & .trainingIndicators-exercise__content-block__top {

          &-info {
            background-color: #03607b;

            &:hover {
              background-color: #1c8bab;
            }

            &:active {
              background-color: #003c4e;
            }

            &__left {
              justify-content: end;
              padding: 0 10px 25px 0;
              background-color: #c9f1fd;
              background-image: url(../img/trainingIndicators/exercise/exercise-img2.svg);

              & p {
                color: #2a4c8c;
              }
            }

            &__right {

              & .subject {
                background-color: #d3e3fc;

                & p {
                  color: #03607b;
                }
              }
            }
          }
        }

        & .trainingIndicators-exercise__content-block__bottom {

          &-block {

            &:nth-child(2) {

              & .trainingIndicators-exercise__content-block__bottom-block__bottom {

                &-list {

                  &:nth-child(2n+1) {

                    & .trainingIndicators-exercise__content-block__bottom-block__bottom-list__item {
                      border: 1px solid #d2bdd5;
                      background-color: #faebfe;
                    }
                  }

                  &:nth-child(2n) {

                    & .trainingIndicators-exercise__content-block__bottom-block__bottom-list__item {
                      border: 1px solid #d3bad7;
                      background-color: #f7e0fc;
                    }
                  }
                }
              }
            }

          }
        }
      }

      &:nth-child(3) {

        & .trainingIndicators-exercise__content-block__top {

          &-info {
            background-color: #358184;

            &:hover {
              background-color: #41a5a9;
            }

            &:active {
              background-color: #125d60;
            }

            &__left {
              justify-content: end;
              align-items: end;
              padding: 0 10px 6px 0;
              background-color: #cbf1f3;
              background-image: url(../img/trainingIndicators/exercise/exercise-img3-on.svg);
              background-position-x: 9px;

              & p {
                color: #358184;
              }
            }

            &__right {

              & .subject {
                background-color: #9fe7e7;

                & p {
                  color: #4679a9;
                }
              }
            }
          }
        }

        & .trainingIndicators-exercise__content-block__bottom {

          &-block {

            &:nth-child(2) {

              & .trainingIndicators-exercise__content-block__bottom-block__bottom {

                &-list {

                  &:nth-child(2n+1) {

                    & .trainingIndicators-exercise__content-block__bottom-block__bottom-list__item {
                      border: 1px solid #d2bdd5;
                      background-color: #faebfe;
                    }
                  }

                  &:nth-child(2n) {

                    & .trainingIndicators-exercise__content-block__bottom-block__bottom-list__item {
                      border: 1px solid #d3bad7;
                      background-color: #f7e0fc;
                    }
                  }
                }
              }
            }

          }
        }
      }

      &:nth-child(4) {

        & .trainingIndicators-exercise__content-block__top {

          &-info {
            background-color: #8166b8;

            &:hover {
              background-color: #9e7ce2;
            }

            &:active {
              background-color: #5a3c99;
            }

            &__left {
              justify-content: end;
              align-items: flex-start;
              padding: 8px 4px 0px 0;
              background-color: #f5efff;
              background-image: url(../img/trainingIndicators/exercise/exercise-img4.svg);

              & p {
                color: #8166b8;
              }
            }

            &__right {

              & .subject {
                background-color: #dacafb;

                & p {
                  color: #8166b8;
                }
              }
            }
          }
        }

        & .trainingIndicators-exercise__content-block__bottom {

          &-block {

            &:nth-child(2) {

              & .trainingIndicators-exercise__content-block__bottom-block__bottom {

                &-list {

                  &:nth-child(2n+1) {

                    & .trainingIndicators-exercise__content-block__bottom-block__bottom-list__item {
                      border: 1px solid #d2bdd5;
                      background-color: #faebfe;
                    }
                  }

                  &:nth-child(2n) {

                    & .trainingIndicators-exercise__content-block__bottom-block__bottom-list__item {
                      border: 1px solid #d3bad7;
                      background-color: #f7e0fc;
                    }
                  }
                }
              }
            }

          }
        }
      }

      &.active {

        & .trainingIndicators-exercise__content-block__top {

          &-cards {

            &__card {

              &-btn {
                border: 1px solid #abddfe;
                box-shadow: inset -2px 6px 10px 0 rgba(0, 0, 0, 0.15);
                background-color: #7093cf;
              }
            }
          }
        }

        &:nth-child(1) {

          & .trainingIndicators-exercise__content-block__top {

            &-info {
              background-color: #a856af;
            }
          }
        }

        &:nth-child(2) {

          & .trainingIndicators-exercise__content-block__top {

            &-info {
              background-color: #1c8bab;
            }
          }
        }

        &:nth-child(3) {

          & .trainingIndicators-exercise__content-block__top {

            &-info {
              background-color: #41a5a9;
            }
          }
        }

        &:nth-child(4) {

          & .trainingIndicators-exercise__content-block__top {

            &-info {
              background-color: #9e7ce2;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {

  .trainingIndicators-hero {
    padding-top: 61px;
    padding-bottom: 42px;

    &__content {

      &-blocks {
        row-gap: 20px;

        &__block {

          &-content {
            padding-bottom: 10px;
            min-height: 256px;

            &__top {
              flex-direction: column;
            }

            &__info {
              min-width: 99px;
            }

            &__bottom {
              height: 24px;
            }
          }

          &:nth-child(1) {
            padding: 0 1px;

            & .trainingIndicators-hero__content-blocks__block-content__info  {

              & p {
                font-size: 32px;

                & span {
                  font-size: 20px;
                }
              }
            }
          }

          &:nth-child(2) {
            padding: 0 1px;

            & .trainingIndicators-hero__content-blocks__block-content__top {
              gap: 11px;
            }

            & .trainingIndicators-hero__content-blocks__block-content__info {

              & p {
                font-size: 24px;
              }
            }
          }

          &:nth-child(3) {
            padding: 0 1px;

            & .trainingIndicators-hero__content-blocks__block-content__top {
              gap: 11px;
            }

            & .trainingIndicators-hero__content-blocks__block-content__info {

              & p {
                font-size: 24px;
              }
            }
          }

          &:nth-child(4) {
            padding: 0 1px;

            & .trainingIndicators-hero__content-blocks__block-content__info {

              & p {
                font-size: 24px;
              }
            }
          }
        }
      }
    }
  }

  .trainingIndicators-exercise {

    & .container {
      padding: 0;
    }

    &__content {

      &-block {

        &__top {
          padding-bottom: 10px;

          &-info {
            width: 368px;

            &__left {
              justify-content: center;
              align-items: end;
              width: 86px;
              min-width: 82px;
              padding-bottom: 5px;

              & p {
                font-size: 14px;

                & span {
                  font-size: 14px;
                }
                & br {
                  display: none;
                }
              }
            }

            &__right {
              padding-left: 14px;
              padding-right: 25px;
              padding-top: 16px;

              & .subject {
                left: 70px;
                padding: 5px 13px 5px 28px;
              }
            }
          }

          &-cards {

            &__card {
              padding: 11px 0;

              & .icon {
                display: unset;
              }

              & span {
                display: none;
              }

              & h4 {
                font-size: 14px;
              }

              & p {
                display: none;
              }

              &-btn {
                overflow: hidden;

                & svg {
                  width: 129%;
                  transform: translateX(-11px);
                }


              }
            }
          }
        }

        &__bottom {
          padding-top: 8px;

           & p {
            font-size: 12px;
           }
        }

        &:nth-child(1) {

          & .trainingIndicators-exercise__content-block__top {

            &-info {

              &__left {
                justify-content: center;
                padding-right: 0;
                background-position: 14px 8px;
                background-size: 57%;
              }
            }
          }
        }

        &:nth-child(2) {

          & .trainingIndicators-exercise__content-block__top {

            &-info {

              &__left {
                justify-content: center;
                padding: 0 10px 10px 0;
                background-position: -1px 5px;
                background-size: 107%;
              }
            }
          }
        }

        &:nth-child(3) {

          & .trainingIndicators-exercise__content-block__top {

            &-info {

              &__left {
                justify-content: center;
                padding: 0 0px 6px 0;
                background-position: 12px 5px;
                background-size: 72%;
              }
            }
          }
        }

        &:nth-child(4) {

          & .trainingIndicators-exercise__content-block__top {

            &-info {

              &__left {
                position: relative;
                align-items: self-end;
                justify-content: center;
                padding: 0 11px 5px 0;
                background-image: url(../img/trainingIndicators/exercise/exercise-img4-table.svg);
                background-position: -4px 0px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {

  .trainingIndicators-hero {
    padding-bottom: 26px;

    &__content {

      &-blocks {
        row-gap: 14px;

        &__block {

          &-content {
            min-height: 181px;

            &__top {
              flex-direction: row;
            }

            &__info {
              min-width: 128px;
              min-height: 60px;
            }
          }

          &:nth-child(1) {

            & .trainingIndicators-hero__content-blocks__block-content__top {
              padding: 12px 10px 4px 19px;
              gap: 19px;
            }
          }

          &:nth-child(2) {

            & .trainingIndicators-hero__content-blocks__block-content__top {
              padding: 17px 15px 4px 25px;
              gap: 38px;
            }
          }

          &:nth-child(3) {

            & .trainingIndicators-hero__content-blocks__block-content__top {
              padding: 17px 15px 4px 25px;
              gap: 38px;
            }
          }

          &:nth-child(4) {

            & .trainingIndicators-hero__content-blocks__block-content__top {
              padding: 17px 15px 4px 25px;
              gap: 38px;
            }
          }

          &:nth-child(2n) {
            padding: 0 0px 0 8px;
          }
        }
      }
    }
  }

  .trainingIndicators-exercise {

    &__content {

      &-block {

        &__top {
          position: relative;
          flex-direction: column;
          gap: 7px;
          padding-bottom: 10px;

          &-info {
            width: 80%;

            &__left {
              min-width: 120px;

              & p {
                font-size: 24px;

                & span {
                  font-size: 12px;
                }

                & br {
                  display: block;
                }
              }
            }

            &__right {
              width: 100%;
              padding: 0 5px;

              & h3 {
                margin-top: 10px;
              }

              & .subject {
                left: 104px;
              }
            }
          }

          &-cards {
            grid-template-columns: repeat(5, 1fr);

            &__card {
              gap: 6px;

              & .icon {
                display: none;
              }

              & span {
                display:block;
              }

              & h4 {
                font-size: 24px;
              }

              & p {
                display: block;
              }

              &:last-child {
                position: absolute;
                top: 0;
                right: 0;
                height: 86px;
                width: 18.5%;
              }
            }
          }
        }

        &__bottom {
          padding-top: 0;
          min-width: 178%;

          &-block {
            padding-bottom: 20px;
          }
        }

        &:nth-child(1) {

          & .trainingIndicators-exercise__content-block__top {

            &-info {

              &__left {
                justify-content: end;
                align-items: center;
                padding-right: 14px;
                padding-top: 10px;
                background-position: 7px 8px;
                background-size: 51%;
              }
            }
          }
        }

        &:nth-child(2) {

          & .trainingIndicators-exercise__content-block__top {

            &-info {

              &__left {
                justify-content: end;
                align-items: start;
                padding-right: 12px;
                padding-top: 13px;
                background-position: 0px 12px;
                background-size: 88%;
              }
            }
          }
        }

        &:nth-child(3) {

          & .trainingIndicators-exercise__content-block__top {

            &-info {

              &__left {
                justify-content: end;
                align-items: end;
                padding-right: 14px;
                padding-top: 0px;
                padding-bottom: 0;
                background-position: 6px 8px;
                background-size: 59%;
              }
            }
          }
        }

        &:nth-child(4) {

          & .trainingIndicators-exercise__content-block__top {

            &-info {

              &__left {
                align-items: start;
                justify-content: end;
                padding: 11px 7px 2px 0;
                background-image: url(../img/trainingIndicators/exercise/exercise-img4.svg);
                background-position: -4px 0px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .trainingIndicators-hero {

    & .container {
      padding: 0 12px;
    }

    &__content {

      &-blocks {

        &__block {

          &:nth-child(1) {
            padding-left: 12px;

            & .trainingIndicators-hero__content-blocks__block-content__top {
              padding: 17px 15px 4px 12px;
              gap: 10px;
            }
          }

          &:nth-child(2) {
            padding-right: 12px;

            & .trainingIndicators-hero__content-blocks__block-content__top {
              padding-left: 10px;
              gap: 10px;
            }
          }

          &:nth-child(3) {
            padding-left: 12px;

            & .trainingIndicators-hero__content-blocks__block-content__top {
              padding-left: 10px;
              gap: 10px;
            }
          }

          &:nth-child(4) {
            padding-right: 12px;

            & .trainingIndicators-hero__content-blocks__block-content__top {
              padding-left: 10px;
              gap: 10px;
            }
          }
        }
      }
    }
  }

  .trainingIndicators-exercise {

    & .container {
      padding: 0 12px;
    }
  }
}
